# Ignore virtual environments
venv/
env/


# Ignore .env file with API keys
.env

# Ignore system files
__pycache__/
*.pyc
.DS_Store

.vscode/

# Database and memory files
bujji_ai.db
memory.json
test.db
